<!doctype html>
<html>
<head>
<link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
        <div class="header">
            <h1>Gambling Site </h1>
           
        </div>
       
        <%= yield%>
       
        <div class="footer">
            <p>copyright &copy; xjing@scu.edu</p>
        </div>
    </div>

</body>
<html>
