
         <div class="wrapper clearfix">
<!--- block to show rule of gambling --->
            <div class="nav">
             <h3> Welcome to our site</h3>
                 <img src = "/dice.png" alt ="dice"> 
                
            </div>
<!--- block to show login form --->
            <div class="section">
               
                 <% if session[:message] %>
                 <h3><%= session[:message] %></h3>
                 <% session[:message]= nil %>
                 <% end %>
                 
               <h2>Please logon </h2>
               <form action ="/login" method='post'>
               username: <input type='text' name='username'></input><br>
               password: <input type="password" name='password'></input><br>
               <input type='submit' value='login'></input>
               </form>
               <p><a href ="/new"> Sign Up</a></p>
            </div>
</div>
 
        
