
         <div class="wrapper clearfix">

            <div class="nav">
                 <img src = "/dice.png" alt ="dice"> 
                
            </div>
<!--- block to register the username --->
            <div class="section">
                
            <h2> Register a username</h2>
            <h2> Please fill the form </h2>
            <form action="/new" method ="POST">
            username: <input name="client[username]" type ="text"></input><br>
            password: <input name="client[password]" type ="text"></input><br>

           <input type ="submit" value ="save"/>
           </form>
                 
               

            </div>
</div>
 
        
